nav {
    background-color:#21242c; 
    color: #faf9f6;
    padding: 20px;
    font-size: 30pt;
}

a:link {
  color: #faf9f6;
  text-decoration: underline; 
}

a:visited {
  color: pink; 
}

a:hover {
  color: #fff0a6; 
  text-decoration: none;
}

a:active {
  color: #e7645d ;
}

