nav {
    background-color: #21242c;
    color: #faf9f6;
    padding: 20px;
    display: flex;
    align-items: center;  
    height: 70px;
    font-size: 30pt;
    gap: 10px;
}

a:link {
  color: #fae875; 
  text-decoration: none; 
}

a:visited {
  color: pink; 
}

a:hover {
  color: #e7645d; 
  text-decoration: underline; 
}

a:active {
  color: #fff0a6; 
}

.logo {
    width: 50px;
    height: 50px;
}