@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Noto Sans", Arial, Helvetica, sans-serif;
    background-color: #faf9f6;
    color: black;
    font-size: 16px;
}

.logo{
    width: 50px;
    height: auto;
    max-width: 100%;
    margin: 20px;
}


nav {
  background-color:#21242c; 
  color: #faf9f6;
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 15px;
  height: 80px;
}

nav a {
    color: #faf9f6;
    text-decoration: none;
}

nav a:hover{
    color: #fff0a6;

}

a:link {
  color: #ffe852; 
  text-decoration: none; 
}

a:visited {
  color: rgb(255, 133, 153); 
}

a:hover {
  color: #fff0a6  ; 
  text-decoration: underline; 
}

.logo-container {
    position: relative;
    width: 100px;
    height: 100px;
    display: inline-block;
}


.logo-container::before,
.logo-container::after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 4px;
    height: 100%;
    background-color: red;
    transform: translateX(-50%);
}

.logo-container::before {
    transform: translateX(-50%) rotate(45deg);
}


.aboutbutton {
  background-color: #fff0a6;
  width: 60%;
  height: 100px;
  margin: auto;
  box-shadow:-5px 5px #f1d100;
  text-align: center;
  padding: 10px;
  line-height: 100px;
}

.info {
  background-color: #faf9f6;
  grid-column: 1/1;
  text-align: center;
  margin: auto;
  padding: 20px;
  width: 60%;
  height: 220px;
  background-color: #c5c5c3;
  border: #21242c solid 10px;
  border-radius: 15px;
}

.home1 {
  background-color: #faf9f6;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  border-bottom: #21242c solid 5px;
  height: 450px;
}

.aboutbutton:hover {
  background-color: #e7645d;
  box-shadow:-5px 5px #a9342d;
}

.home2 {
  background-color: #faf9f6;
  text-align: center;
  margin: auto;
  margin-top: 50px;
  padding: 20px;
  width: 60%;
  height: 65%;
  background-color: #c5c5c3;
  border: #21242c solid 10px;
  border-radius: 15px;
}

footer nav {
  margin-top: 50px;
  width: 100%;
  padding: 20px;
}

.strikethrough-text {
  text-decoration: line-through;
}

h1 {
    text-align: center;
    color: #21242c;
    font-weight: bold;
    text-decoration: underline;
}
p {
    width: 40%;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 80px;   
    color: #21242c;
    margin-left: auto;
    margin-right: auto;
}

#topp {
    margin-top: 80px;
}

.logo-container::after {
    transform: translateX(-50%) rotate(-45deg);
}